{
  "presets": [
    // // 业务代码 全局变量
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ]
  ]
  // "plugins": [
  //   // 插件方法
  //   [
  //     "@babel/plugin-transform-runtime",
  //     {
  //       "absoluteRuntime": false,
  //       "corejs": 2,
  //       "helpers": true,
  //       "regenerator": true,
  //       "useESModules": false,
  //       "version": "7.0.0-beta.0"
  //     }
  //   ]
  // ]
}
